// Post Header
header#masthead.masthead(style=`background-image: url('${background}')`)
  .container.position-relative.px-4.px-lg-5
    .row.gx-4.gx-lg-5.justify-content-center
      .col-md-10.col-lg-8.col-xl-7
        .post-heading
          if (!title || title === ' ')
            h1#title &nbsp;
          else
            h1#title=title
          if (!subtitle || subtitle === ' ')
            span#subtitle.subheading &nbsp;
          else
            span#subtitle.subheading=subtitle
          span.meta
            a(href='#!') #{user.name} 
            | tarafından
            | #{date} tarihinde oluşturdu