doctype html
html(lang='tr')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Clean Blog - Start Bootstrap Theme
    link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
    // Font Awesome icons (free version)
    script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js' crossorigin='anonymous')
    // Google fonts
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
    // Core theme CSS (includes Bootstrap)
    link(href='css/style.css' rel='stylesheet')
    link(href='css/edit.css' rel='stylesheet')
  body
    // Navigation
    include partials/navigation
    // Page Header
    header#masthead.masthead(style=`background-image: url('${background}')`)
      .container.position-relative.px-4.px-lg-5
        .row.gx-4.gx-lg-5.justify-content-center
          .col-md-10.col-lg-8.col-xl-7
          .site-heading
              if (title === ' ')
                h1#title &nbsp;
              else
                h1#title=title
              if (subtitle === ' ')
                span#subtitle.subheading &nbsp;
              else
                span#subtitle.subheading=subtitle 
    // Main Content
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-md-10.col-lg-8.col-xl-7
          form#form(action='/anasayfayi-duzenle' redirect='/')
            .form-group
              label(for='titleInput') Arkaplan Görseli
              input#backgroundInput.form-control(type='file' accept='image/*')
            .form-group.mt-3
              label(for='titleInput') Sayfa Başlığı
              input#titleInput.form-control(type='text' placeholder='Başlık' value=title)
            .form-group.mt-3
              label(for='titleInput') Alt Başlık
              input#subtitleInput.form-control(type='text' placeholder='Alt Başlık' value=subtitle)
            .form-group.mt-4
              button.btn.btn-primary Düzenle
      // Footer
    include partials/pageFooter
    // Modal
    include partials/modal
    // Bootstrap core JS
    script(src='bootstrap5/js/bootstrap.bundle.min.js' type='text/javascript') 
    // Core theme JS
    script(src='js/script.js' type='text/javascript')
    script(src='js/axios.min.js' type='text/javascript')
    script(src='js/edit.js' type='text/javascript')
